<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./estilos/exercicio12.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header>
    <h1>Os Beneficios da responsividade</h1>
  </header>
  <main>
    <p>

    </p>
    <ul>
      <li>Melhor Experiência do Usuário:</strong> Adapta-se automaticamente ao dispositivo, proporcionando
        navegação fluida.</li>
      <li>Acessibilidade Ampliada:</strong> Conteúdo acessível a todos, independentemente do dispositivo.</li>
      <li>Otimização de SEO:</strong> Melhora o ranking nos motores de busca como Google.</li>
      <li>Facilidade de Manutenção:</strong> Um único site para todas as plataformas, simplificando
        atualizações.</li>
      <li>Maior Conversão:</strong> Experiência otimizada aumenta as taxas de conversão.</li>
      <li>Economia de Tempo e Recursos:</strong> Desenvolvimento mais eficiente com foco em um único projeto.
      </li>
    </ul>
    <div class="">
      <picture>
        <source media="(min-width: 1024px)"
          srcset="https://images.pexels.com/photos/5270098/pexels-photo-5270098.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <source media="(min-width: 768px)"
          srcset="https://images.pexels.com/photos/65623/vehicle-chrome-technology-automobile-65623.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
        <img
          src="https://images.pexels.com/photos/13513971/pexels-photo-13513971.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
          alt="imagem">
      </picture>
    </div>

  </main>
</body>

</html>