<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./estilos/exercicio6.css">
  <!-- <meta name="viewport" content="width=500, initial-scale=1.0"> -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1.3"> -->
  <!-- name="viewport", content="width=device-width, initial-scale=1.0" -->
  <title>Document</title>
</head>

<body>
  <div class="container">

    <header class="header">
      header
    </header>

    <aside class="sidebar">
      sidebar
    </aside>

    <main class="main-content">
      <h1>Primeiro Teste</h1>
      <p>ao remover eu percebi que quando eu diminuia a tela no responsivo do navegador as divs não quebravam, elas
        ficavam no mesmo lugar sempre</p>
      <br>
      <h2>Segundo teste</h2>
      <p>
        pelo que eu entendi se aumentar ou diminuir essa escala acontece um 'zoom', me pareceu que as divs ficaram
        maiores
      </p>
      <br>
      <h3>Segundo teste </h3>
      <p>
        ao colocar a width como 500 me parece que tudo ficou um pouco maior ou mais 'largo'
      </p>
    </main>
    <footer class="footer">
      footer
    </footer>
  </div>

</body>

</html>