<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/bdcb6727d5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./estilos/exercicio8.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <nav>
      <div class="pai-list">
        <ul class="menu-list">
          <li>Sobre</li>
          <li>Serviços</li>
          <li>Contatos</li>
        </ul>
      </div>

      <i class="fa-solid fa-bars"></i>
    </nav>
  </header>
  <main class="main">
    <div class="pai-dos-textos">
      <h1 class="title">Mercedes Benz</h1>
      <p id="text">veja nosso novo lançamento:</p>
      <source srcset="./images/mercdes900px.jpg" media="(max-width: 768px)">
      <source srcset="./images/mercdes600px.jpg" media="(max-width: 1024px)">
      <source srcset="./images/" media="(min-width: 1025px)">
      <img src="./images/mercedes-amg-g63-grand-edition.jpg" alt="Mercedes" class="car-img">
    </div>

  </main>
</body>

</html>