<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./estilos/exercicio11.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <div class="odinImg">
      <img class="imgTribe"
        src="https://static.wixstatic.com/media/a14841_1963d861cb164bbe80b1aace59b20532~mv2.jpg/v1/fill/w_640,h_428,al_c,lg_1,q_80,enc_auto/a14841_1963d861cb164bbe80b1aace59b20532~mv2.jpg"
        alt="tribo beduina" width="50%" height="auto">
    </div>
    <div class="odinText">
      <p class="text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Est placeat, veniam rem beatae ut
        architecto repellat
        obcaecati modi fuga enim, consequuntur, asperiores at unde eaque quidem consectetur nemo odio non?</p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores tenetur nesciunt vel, non nisi dicta magnam
      rem quia, temporibus animi voluptate cupiditate fugiat beatae. Corporis ad rem aut asperiores repellendus.
    </div>
  </div>
</body>

</html>