<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <script src="https://kit.fontawesome.com/bdcb6727d5.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="./estilos/exercicio4.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <header class="header">
    <nav>
      <div class="pai-list">
        <ul class="menu-list">
          <li>Works</li>
          <li>Blog</li>
          <li>Contact</li>
        </ul>
      </div>
  
      <i class="fa-solid fa-bars"></i>
    </nav>
  </header>
  <main class="main">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7id9Q6SPFHl0p4BvV9oKA3iVZp9fgBy8oXeXZhyKwIa8khct8MaeTI3zCVHJuDCFCxFA&usqp=CAU"
      alt="profile picture" class="hero-img">
   <div class="pai-dos-textos">
    <h1 class="title">Hi, I am Nathan, Software Engineer</h1>
    <p id="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias vel rerum nostrum fuga quod deserunt.
      Animi, maxime illum voluptas, esse quod consectetur veniam nemo repellendus dolorum reprehenderit, quae laboriosam
      ad!</p>
    <button class="download-button">Download Resume</button>
   </div>
    
  </main>
</body>

</html>