<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./estilos/exercicio9.css">
  <link rel="stylesheet" href="./estilos/exercicio9.1.css" media="screen">
  <link rel="stylesheet" href="./estilos/exercicio9.2.css" media="screen" and (max-width: 768px)>
  <link rel="stylesheet" href="./estilos/exercicio9.3.css" media="print">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>a</h1>
</body>

</html>