<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./estilos/exercicio15.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="container">
    <header>
      <h1>Titulo</h1>
    </header>
    <main>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ab quas hic ipsum accusantium similique blanditiis,
        nostrum corrupti reprehenderit consequatur accusamus excepturi, modi est a temporibus eligendi laudantium.
        Dolor, aperiam illum.</p>
    </main>
    <footer>
      <p>vasco da gama </p>
    </footer>
  </div>
</body>

</html>