<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://kit.fontawesome.com/bdcb6727d5.js" crossorigin="anonymous"></script>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./estilos/exercicio16.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="containerOdin">
    <header class="header">
      <div class="imgPai">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/78/Ubisoft_logo.svg/2238px-Ubisoft_logo.svg.png"
          alt="Logo da Ubisoft">
      </div>
      <nav>
        <i class="fa-solid fa-bars"></i>
      </nav>
    </header>
    <main class="main">
      <section class="textAboutTheGame">
        <h1 class="firstTitle">Assassins Creed Shadows</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, at eveniet quasi numquam dolores beatae nemo
          officia tenetur voluptatum, corrupti voluptatem, quis soluta molestias sapiente praesentium ducimus odit iusto
          autem!</p>
      </section>
      <section class="firstGame">
        <div class="cardGame">
          <picture>
            <source srcset="" media="">
            <source srcset="" media="">
            <img
              src="https://preview.redd.it/removed-the-text-from-the-2-ac-shadows-posters-and-v0-8nq1oczn8q0d1.png?width=640&crop=smart&auto=webp&s=0178681d411f9cb6f57fee2299c3e5ad0b21b8ea"
              alt="Art Ac Shadows">
          </picture>
        </div>
      </section>
    </main>
    <footer class="footer">
<p>© 2024 Ubisoft Entertainment. All Rights Reserved. Assassin’s Creed, Ubisoft, and the Ubisoft logo are registered or unregistered trademarks of Ubisoft Entertainment in the US and/or other countries. Mac® & MacApp® are trademarks of Apple Inc.</p>
    </footer>
  </div>
</body>

</html>